/* Write your CSS here */
.list-container {
  border: 1px solid grey;
  list-style-type: none;
  padding: 15px;
  margin-left: 12px;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.title-line {
  font-size: 15px;
  font-weight: 400;
  color: #171f46;
}
.date-line {
  font-size: 15px;
  font-weight: 400;
  color: #b5b7c4;
}
.favorite-icon-container {
  border: none;
  background-color: transparent;
}
